body{
    margin:0;
    background:#0D0D0D;
    color:white;
    font-family:Arial,sans-serif;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    background:black;
}

.logo{
    color:#E11D2E;
    font-size:30px;
    font-weight:bold;
}

button{
    background:#E11D2E;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:8px;
    cursor:pointer;
}
